
@fontfamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@titleColor: #555555;

body {
  background-color: #EEEEEE;
}

* {
  font-family: @fontfamily;
}

h1 {
  // margin-left: 42px;
  color: @titleColor;
}

h2 {
  // margin-left: 29px;
  color: darken(@titleColor, 10%);
}

h3 {
  margin-left: 29px;
  color: @titleColor;
}

code {
  // background-color: #DDDDDD;
  color: grey;
}

p, pre>code {
  margin-left: 29px;
}

